<!Doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="/static/images/favicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

    <!-- 구글폰트 -->
    <link href="https://fonts.googleapis.com/css?family=Stylish&display=swap" rel="stylesheet">


    <title>내배캠 | 질문합시다</title>

    <!-- style -->
    <style type="text/css">
        * {
            font-family: "Stylish", sans-serif;
        }

        .comment {
            color: blue;
            font-weight: bold;
        }

        .wrap {
            width: 900px;
            margin: auto;
        }

        #post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }
    </style>
    <script>
        let order = "asc";
        let perPage = "5";

        $(document).ready(function () {
            $("#cards-box").html("");
            showArticles(1);
            $("#perPagingSelect").change(function () {
                perPage = $(this).val();
                showArticles(1)
            })
        });

        function openClose() {
            if ($("#post-box").css("display") == "block") {
                $("#post-box").hide();
                $("#btn-post-box").text("포스팅 박스 열기");
            } else {
                $("#post-url").val('');
                $("#post-comment").val('');
                $("#post-box").show();
                $("#btn-post-box").text("포스팅 박스 닫기");
            }
        }

        function postingArticle() {
            let url = $("#post-url").val();
            let comment = $("#post-comment").val();
            let idx = $("#post-idx").val();

            if (idx != '') {
                $.ajax({
                    type: "PUT",
                    url: "/article",
                    data: {idx: idx, title: url, content: comment},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("포스팅 업데이트 성공!");
                            window.location.reload();
                        } else {
                            alert("서버 오류!");
                        }
                    }
                })
            } else {
                $.ajax({
                    type: "POST",
                    url: "/article",
                    data: {title: url, content: comment},
                    success: function (response) {
                        if (response["result"] == "success") {
                            alert("포스팅 성공!");
                            window.location.reload();
                        } else {
                            alert("서버 오류!");
                        }
                    }
                })
            }
        }

        function showArticles(curPage) {
            let searchTitle = $("#searchTitle").val();
            $.ajax({
                type: "GET",
                url: `/articles?perPage=${perPage}&curPage=${curPage}&order=${order}&searchTitle=${searchTitle}`,
                data: {},
                success: function (response) {
                    $("#list-post").empty();
                    let articles = response["articles"];
                    let pagingInfo = response["pagingInfo"];
                    for (let i = 0; i < articles.length; i++) {
                        let num = response["pagingInfo"]["totalCount"] - (perPage * (curPage - 1)) - i
                        makeListPost(articles[i], num);
                    }
                    makePaging(pagingInfo);
                }
            })
        }

        function makePaging(pagingInfo) {
            let tempHtml = '';
            for (let i = 0; i < pagingInfo['totalPage']; i++) {
                if (i + 1 == pagingInfo['curPage']) {
                    tempHtml += `<li class="page-item active"><a class="page-link" href="#">${i + 1}</a></li>`;
                } else {
                    tempHtml += `<li class="page-item"><a class="page-link" href="#" onclick="showArticles(${i + 1})">${i + 1}</a></li>`;
                }
            }
            $("#pagination").html(tempHtml);
        }

        function searching() {
            showArticles(1)
        }

        function getArticle(idx) {
            $.ajax({
                type: "GET",
                url: `/article?idx=${idx}`,
                data: {},
                success: function (response) {
                    let title = response['article']['title']
                    let content = response['article']['content']
                    $("#post-url").val(title);
                    $("#post-comment").val(content);
                    $("#post-idx").val(idx);
                    $("#post-box").show();
                    $("#btn-post-box").text("포스팅 박스 닫기");
                }
            })
        }

        function readArticle(idx) {
            $.ajax({
                type: "PUT",
                url: `/article/${idx}`,
                data: {},
                success: function (response) {
                    let title = response['article']['title']
                    let content = response['article']['content']
                    $('#modal-title').html(title);
                    $('#modal-content').html(content);
                    $('#articleModal').modal('show');
                }
            })
        }

        function makeListPost(post, index) {
            let tempHtml = ` <tr>
                      <th scope="row">${index}</th>
                      <td><a href="#" onclick="readArticle(${post['idx']})">${post['title']}</td>
                      <td>${post['reg_date']}</td>
                      <td>${post['read_count']}</td>
                      <td><button type="button" class="btn btn-danger" onclick="deleteArticle(${post['idx']})">삭제</button></td>
                      <td><button type="button" class="btn btn-primary" onclick="getArticle(${post['idx']})">수정</button></td>
                      </tr>
                    `;
            $("#list-post").append(tempHtml);
        }

        function deleteArticle(idx) {
            $.ajax({
                type: "DELETE",
                url: `/article?idx=${idx}`,
                success: function (response) { // 성공하면
                    if (response["result"] == "success") {
                        alert("삭제 성공!");
                        window.location.reload();
                    } else {
                        alert("서버 오류!");
                    }
                }
            })
        }

        function setOrder() {
            if (order == "asc") {
                order = "desc";
                $("#viewOrder").html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-up-square-fill" viewBox="0 0 16 16">
  <path d="M2 16a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2zm6.5-4.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 1 0z"/>
</svg>`)
            } else {
                order = "asc";
                $("#viewOrder").html(`<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
</svg>`)
            }
            showArticles(1);
        }

        function addFiles() {
            $("#upload").append("<input type='file' name='file'>");
        }

        function saveFiles() {
            var form_data = new FormData($('#upload')[0]);
            $.ajax({
                type: 'POST',
                url: '/files',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function () {
                    console.log('Success!');
                },
            });
        }
    </script>

</head>

<body>
<div class="wrap">
    <div class="jumbotron">
        <h1 class="display-4">질문합시다!!</h1>
        <hr class="my-4">
        <p class="lead">
            <button onclick="openClose()" id="btn-post-box" type="button" class="btn btn-primary">포스팅 박스 열기
            </button>
        </p>
    </div>
    <div id="post-box" class="form-post" style="display:none">
        <div>
            <div class="form-group">
                <label for="post-url">제목</label>
                <input id="post-url" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label for="post-comment">간단한 내용</label>
                <textarea id="post-comment" class="form-control" rows="2"></textarea>
            </div>
            <input id="post-idx" class="form-control" placeholder="" hidden>
            <button type="button" class="btn btn-primary" onclick="postingArticle()">기사저장</button>
        </div>
    </div>
    <div class="input-group mb-3" style="width: 10%;margin: 0% 90%;">
        <select class="custom-select" id="perPagingSelect">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
        </select>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">제목</th>
            <th scope="col">날짜</th>
            <th scope="col">조회<span onclick="setOrder()" id="viewOrder">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                           class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
  <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0z"/>
</svg>
                  </span></th>
            <th scope="col">삭제</th>
            <th scope="col">수정</th>
        </tr>
        </thead>
        <tbody id="list-post">
        </tbody>
    </table>
    <nav aria-label="Page navigation example">
        <ul class="pagination" style="justify-content: center; " id="pagination">
        </ul>
    </nav>
    <div class="input-group mb-3" style="width: 40%;margin: 0% 30%;">
        <input type="text" class="form-control" placeholder="제목" aria-label="제목"
               aria-describedby="basic-addon2" id="searchTitle">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="searching()">검색</button>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal-content">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</body>

</html>